pillow
imutils
pandas
scikit-learn
scipy
scikit-image
seaborn
matplotlib
PyYAML
statsmodels
nltk 
Jinja2
imageio
fuzzywuzzy
python-Levenshtein
Flask
pytesseract
pdf2image
pytest
opencv-contrib-python-headless
docxtpl
